/configure
/src/resources.c
/autom4te.cache/
/config.log
/nbproject/private/private.xml
/nbproject/private/Default.properties
/stamp-h1
/missing
/res/gschemas.compiled
/src/Makefile.in
/aclocal.m4
/nbproject/private/configurations.xml
/nbproject/configurations.xml
/nbproject/private/launcher.properties
/srcLib/Makefile
/res/de.pfeifer_syscon.calcpp.gschema.valid
/config.sub
/nbproject/private/c_standard_headers_indexer.c
/nbproject/private/Default-build.log
/res/Makefile.in
/config.status
/srcLib/Makefile.in
/Makefile
/src/Makefile
/depcomp
/compile
/config.guess
/nbproject/private/cpp_standard_headers_indexer.cpp
/config.h
/ltmain.sh
/libtool
/nbproject/project.xml
/Makefile.in
/config.h.in
/res/Makefile
/install-sh
/src/calcpp
/nbproject/private/Default-exec.log
/nbproject/private/CodeAssistancePathMapper.properties
/PKGBUILD
/src/configure.ac
/src/.deps/
/pkg/
/m4/ltsugar.m4
/m4/libtool.m4
/m4/ltversion.m4
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/test/Makefile
/test/Makefile.in
/test/math_test
/test/math_test.log
/test/test-suite.log
/test/math_test.trs
/test-driver
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/calcpp-program.pot
/po/calcpp.pot
/po/remove-potcdate.sed
/po/stamp-po
/src/srcLib/Makefile
/src/srcLib/Makefile.in
/po/de.gmo
/nbproject/project.properties
/test/calc_test
/test/calc_test.trs
/test/calc_test.log
/src/.save/
/test/.save/
/srcLib/.save/
/test/.deps/
/test/lin_test.trs
/test/lin_test
/test/lin_test.log
/test/mat_test.log
/test/mat_test
/test/mat_test.trs
/srcLib/.deps/libexpression_a-Syntax.Tpo
